:root{
    --bg: rgb(112, 128, 144)
}

body{
    background-color: var(--bg);
    margin: 0px;
    padding: 0px;
}

.add-book{
    outline: none;
    width: 270px;
    height: 70px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid rgb(247, 0, 255);
    border-radius: 10px;
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
    margin: 50px;
}

.add-book:hover{
    transform: scale(1.1, 1.1);
}

.add-book:active{
    transform: translate(5px, 5px);
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 25px;
    margin: 20px;
}

.card{
    border: 2px black solid;
    background-color: rgb(155, 47, 255);
    border-left: 15px rgb(0, 0, 0) solid;
    color: white;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    max-width: 300px;
    min-width: 100px;
    height: 350px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px rgb(65, 65, 65);
}

.card:nth-child(odd){
    background-color: rgb(185, 111, 255);
}

.card > p{
    font-size: 20px;
}

.top-bar{
    display: flex;
    background-color: rgb(46, 46, 46);
}

form {
    background-color: rgb(0, 0, 0);
    display: none;
    border-radius: 25px;
    width: 250px;
    height: 240px;
    color: white;
    border: 5px solid rgb(247, 0, 255);
    position: absolute;
    top: 40vh;
    left: 40vw;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-container > div{
    margin: 5px;
    display: flex;
    justify-content: center;
    
    
}

div > input {
    border: 2px black solid;
    max-width: 200px;
    border-radius: 10px;
    outline: none;
    padding-left: 7px;
    padding-right: 7px;
}

.form-title{
    margin-top: 5px;
    margin-bottom: 0px;
}

.text-fields{
    margin: 5px;
}

.submit-btn {
    outline: none;
    background-color: rgb(223, 58, 209);
    color: white;
    border: 3px rgb(0, 0, 0) solid;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
    height: 40px;
}

.submit-btn:hover{
    transform: scale(1.1, 1.1);
}

.radio-container{
    display: flex;
    justify-content: center;
}

.top-line{
    width: 100vw;
    border-bottom: 3px rgb(70, 70, 70) solid;
    box-shadow: 0px 2px rgb(46, 53, 59);
    margin: 0px;
}

.del-button{
    width: 20px;
    height: 20px;
    background-color: beige;
}